# List

In [6]:
# Lists : Mutable, ordered,indexing,slicing, methods (append(),remove(),sort(),reversed()) 
my_list=[1,2,3,10,4,5,0]
my_list.append(6)
print(my_list)
my_list.remove(0)
print(my_list)
my_list.sort()
print(my_list)
my_list.reverse()
print(my_list)
# list ma kunai number kati choti occur bho 
my_list.count(5)
# my_list[1]=11
# print(my_list)

[1, 2, 3, 10, 4, 5, 0, 6]
[1, 2, 3, 10, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 10]
[10, 6, 5, 4, 3, 2, 1]
[10, 11, 5, 4, 3, 2, 1]

# Tuples

In [10]:
# Tuples : Immutable,ordered,packing and unpacking, count(), index()
my_tuples=(1,2,3,4,7,8)
print("tuple",my_tuples)
print("counting the no of 3 in the tuple",my_tuples.count(2))
# we cant copy the the tuples 
# mm=()
# mm.copy(my_tuples)
# we cant append 
# my_tuples.append(5)
print(my_tuples+(10,25,5,6,))

tuple (1, 2, 3, 4, 7, 8)
counting the no of 3 in the tuple 1
(1, 2, 3, 4, 7, 8, 10, 25, 5, 6)

# sets

In [11]:
# Sets: unordered, unique elements,set operations (union, intersection, difference )
my_set={1,2,3,4,5}
my_set.add(5)
my_set.remove(2)
another_set={4,5,6,7,8,10}
# printing the set 
print(my_set)
# printing union 
print(my_set.union(another_set))
# printing intersection 
print(my_set.intersection(another_set))
# printing difference 
print(my_set.difference(another_set))

NameError: name 'another_set' is not defined

In [16]:
first_set={1,2,3,4}
second_set={2,4,3,5}
print(first_set-second_set)
# converting set into list 
first_st=list(first_set)
# first_st.append(7,8,9,1,0)
print(first_st)

{1}

TypeError: list.append() takes exactly one argument (5 given)

# Dictionaries

In [17]:
# Dictionaries : key-value pairs, accessing/modifying elements,dictionary
dictionary_Name={'name':'Madhav',
       'age':27,
       'gender':'M'
       }
# printing dictionary
print(dictionary_Name)
dictionary_Name['age']=20
# after updating 
dictionary_Name.update({'location':'bansgadhi'})
print(dictionary_Name)
# printing key 
print(dictionary_Name.keys())
# printing value 
print(dictionary_Name.values()) 
# printing items
print(dictionary_Name.items())

{'name': 'Madhav', 'age': 27, 'gender': 'M'}
{'name': 'Madhav', 'age': 20, 'gender': 'M', 'location': 'bansgadhi'}
dict_keys(['name', 'age', 'gender', 'location'])
dict_values(['Madhav', 20, 'M', 'bansgadhi'])
dict_items([('name', 'Madhav'), ('age', 20), ('gender', 'M'), ('location', 'bansgadhi')])

# List Comprehensions

In [18]:
# adding 3 in the list elements 
my_list=[1,2,3,4,5]
my_list=[ x+3 for x in my_list]
print(my_list)

[4, 5, 6, 7, 8]

In [19]:
# conditional comprehensions 
even_squares=[x**2 for x in range(1,10) if x %2 ==0]
print(f"List of even number:{even_squares}")

List of even number:[4, 16, 36, 64]

# conditional comprehensions (if-else)

In [20]:
# conditional comprehensions 
odd_even=["even"if x%2== 0 else "odd" for x in range(1,10)]
print(f"odd or even {odd_even}")

odd or even ['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

# Nested comprehensions

In [21]:
# nested comprehensions 
matrix=[[j for j in range(5)] for i in range(3)]
print("Matrix:",matrix)

Matrix: [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

# Dictionary Comprehensions

In [22]:
# basic syntax 
squares_dict={x: x**2 for x in range(10)}
# printing squares dictionary 
print(squares_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [24]:
# Condional comprehensions (if)
even_squares_dict={x: x**2 for x in range(10) if x % 2==0}
print(even_squares_dict)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [25]:
# Iteration through a list 
for item in my_list:
    print(f"list item: {item}")
# Iteration through a set 
for item in my_set:
    print(f"set item: {item}")
# iterating through a dictionary 
for key,value in dictionary_Name.items():
    print(f"Dictionary Key:{key},value:{value}")

list item: 4
list item: 5
list item: 6
list item: 7
list item: 8
set item: 1
set item: 3
set item: 4
set item: 5
Dictionary Key:name,value:Madhav
Dictionary Key:age,value:20
Dictionary Key:gender,value:M
Dictionary Key:location,value:bansgadhi

# List Operations

In [26]:
my_list=[10,5,3,4,7,8,9]
print("List:",my_list)
print("Length:",len(my_list))
print("Minimum:",min(my_list))
print("Minimum",max(my_list))
print("sum:",sum(my_list))
print(f"sorting list :{sorted(my_list)}")

List: [10, 5, 3, 4, 7, 8, 9]
Length: 7
Minimum: 3
Minimum 10
sum: 46
sorting list :[3, 4, 5, 7, 8, 9, 10]

# Set Operation

In [27]:
my_set={10,5,3,4,7,8,9}
print("List:",my_set)
print("Length:",len(my_set))
print("Minimum:",min(my_set))
print("Minimum",max(my_set))
print("sum:",sum(my_set))
print(f"sorting list :{sorted(my_set)}")
print(f"")

List: {3, 4, 5, 7, 8, 9, 10}
Length: 7
Minimum: 3
Minimum 10
sum: 46
sorting list :[3, 4, 5, 7, 8, 9, 10]

# Dictonary Operation

In [ ]:
simple_dictionary={}