In [ ]:
import pandas as pd
data = [
    {'name': 'john', 'age': 25, 'city': 'bansgadhi'},
    {'name': 'madhab', 'age': 35, 'city': 'jhapa'},
    {'name': 'dikesh', 'age': 24, 'city': 'pokhara'}
]

data.extend(
    [
        {'name': 'john', 'age': 22, 'city': 'bansgadhi'},
        {'name': 'john', 'age': 20, 'city': 'bansgadhi'}
    ]
)
# convert list to dataframe
df = pd.DataFrame(data)

print(df)

     name  age       city
0    john   25  bansgadhi
1  madhab   35      jhapa
2  dikesh   24    pokhara
3    john   25  bansgadhi
4    john   25  bansgadhi

In [5]:
print(df.info)

<bound method DataFrame.info of      name  age       city
0    john   25  bansgadhi
1  madhab   35      jhapa
2  dikesh   24    pokhara
3    john   25  bansgadhi
4    john   25  bansgadhi>

In [6]:
print(df.describe)

<bound method NDFrame.describe of      name  age       city
0    john   25  bansgadhi
1  madhab   35      jhapa
2  dikesh   24    pokhara
3    john   25  bansgadhi
4    john   25  bansgadhi>

In [7]:
# Basic data exploration 
print("\nColumn Name:",df.columns.tolist())
print("\nFirst 2 rows:")
print(df.head(2))
print("\nLast 2 rows:")
print(df.tail(2))

Column Name: ['name', 'age', 'city']

First 2 rows:
     name  age       city
0    john   25  bansgadhi
1  madhab   35      jhapa

Last 2 rows:
   name  age       city
3  john   25  bansgadhi
4  john   25  bansgadhi

In [9]:
# Basic statistics and aggregations 
print("\nAge Statistics")
print("Average ages:",df['age'].mean())
print("Minimum age:",df['age'].min())
print("Maximum age:",df['age'].max())

Age Statistics
Average ages: 26.8
Minimum age: 24
Maximum age: 35

In [ ]:
# Filtering and sorting 
print("\n People older than 30:")
ageG30=df[df['age']>30]
ageG30